<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <table class="table" border="2">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">DOB</th>
            </tr>
        </thead>
        <tbody>
            {% for i in result %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.dob}}</td>
                <td><a href="{% url 'formedit' i.id%}">Edit</a></td>
                <td><a href="{% url 'formdelete' i.id%}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>